.comments {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 330px 0 20px;
  padding-top: 20px;
}

.comment-form-wrapper {
  display: flex;
  width: 100%;

  padding-bottom: 1.5rem;
  border-bottom: 1px solid #f2f2f2;
}

.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 40px;
  box-sizing: border-box;

  padding: 5px;
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
}

.comment-form-user-avatar {
  height: 40px;
  width: 40px;
  background-image: linear-gradient(135deg,#846170,#e6846e);
}

.comment-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 14px;
  border-radius: 4px;
  height: 27px;
  background: #fff;
  padding: 0 9px;
  outline: none;
  border: 1px solid #e5e5e5;
}

.comments-list {
  margin-top: 20px;
  width: 100%;
}

.comment {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 0;
  font-size: 12px;
}

.comment-avatar {
  height: 40px;
  width: 40px;
  background-image: linear-gradient(135deg,#846170,#e6846e);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.comment-username, .comment-meta {
  color: #999;
}