

body{ 
  background-color: lightgrey;
}

.main-content {
  background-image: image_url("splash_banner.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  border-top:4px solid #f50;
  background-color: white;
  width: 1125px;
  margin: auto;
  height: 1000px;
}