.nav-bar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    li {
      list-style: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      margin: 5px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  
}

.logo-box {
  display: flex;
  align-items: center;
}

.title {
  color: #f50;
  font-family: 'Righteous', cursive;
}

.logo {
  margin-right: 7px;
  img {
    width: 50px;
    padding-left: 30px;
    padding-top: 25px;
    margin-bottom: 8px;
  }
}



.sign-in {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

.sign-up {
  color: white;
  background-color: #f50;
  border-radius: 3px;
  
}

.demo {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

