.play-button, .pause-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border: 1px solid #f50;
  border-radius: 50%;
  background-color: #f50;
  cursor: pointer;
  img {
    width: 28px;
    color: white;
    fill: white;
  }
  &:hover {
    background-color: #f30;
    border-color: #f30;
  }
}

.play-button {
  img {
    padding-left: 3px;
  }
}

.track-details {
  display: flex;
  justify-content: flex-start;
  height: 38px;
  width: 300px;
  ul {
    width: 200px;
  }
}

.track-index-item {
  display: flex;
  justify-content: flex-start;
  width: 819px;
  height: 180px;
  margin-top: 30px;
}

.index-album-artwork {
  width: 160px;
  height: 160px;
  background-color: lightskyblue;
  margin-right: 10px;
}

.artist-link {
  font-size: 12px;
  color: #999;
}

.track-link {
  font-size: 15px;
  color: #333333
}

.track-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1240px;
  height: 380px;
  background: linear-gradient(135deg, rgb(194, 142, 130) 0%, rgb(161, 108, 48) 100%);
  // position: absolute;
}

.track-button-show {
  width: 60px;
  height: 60px;
  img {
    width: 26px;
  }
}

.track-details-show {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  padding: 30px;
  ul {
    margin-left: 12px;
  }
}

.artist-link-show {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 4px 7px 3px;
  color: #999;
  background-color: rgba(0,0,0,.8);
  margin-bottom: 7px;
  width: fit-content;
  &:hover {
    color: #f2f2f2;
  }
}

.track-link-show {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  background-color: rgba(0,0,0,.8);
  padding: 5px 7px 4px;
}

.album-art {
  width: 340px;
  height: 340px;
  margin: 20px;
  background-image: image_url("noart.png");
  background-size: contain;
}

.show-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 100px;
}

.delete-button {
  margin-right: 20px;
  color: whitesmoke;
  background-color: #f50;
  border-radius: 3px;
  border: 1px solid rgb(161, 108, 48);
  padding: 5px 10px;
  box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
  cursor: pointer;
}

.edit-button {
  color: whitesmoke;
  background-color: #f50;
  border-radius: 3px;
  border: 1px solid rgb(161, 108, 48);
  padding: 5px 10px;
  box-shadow: 2px 12px -5px rgba(0,0,0,.1);
  cursor: pointer;
}


.track-discover {
  display: flex;
  justify-content: center;
}

.track-show-description-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 150px;
  padding-bottom: 50px;
}

.track-show-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0,.8);
  padding: 5px 7px 4px;
  font-style: italic;
  text-transform: lowercase;
}

.left-show-elements {
  width: 66%;
  height: 100%;
}