.track-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 1180px;
  height: 48px;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
}

.track-bar-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1240px;
}

.track-bar-button {
  margin-left: 12px;
  width: 24px;
  height: 100%;
}

.bar-previous {
//  background-image: image_url("track_bar_previous");
}

.bar-play {
//  background-image: image_url("track_bar_play");
}

.bar-pause {
//  background-image: image_url("track_bar_pause");
}

.bar-next {
//  background-image: image_url("track_bar_next");
}

.bar-shuffle-before {
//  background-image: image_url("track_bar_shuffle_before");
}

.bar-shuffle-after {
//  background-image: image_url("track_bar_shuffle_after");
}

.bar-repeat-before {
//  background-image: image_url("track_bar_repeat_before");
}

.bar-repeat-before {
//  background-image: image_url("track_bar_repeat_after");
}

.track-bar-details {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 344px;
  padding: 0 8px;
  height: 100%;
}

.track-bar-art {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding-right: 8px;
}

.track-bar-name-title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 248;
  height: 30px;
  font-size: 11px;
}

.track-bar-name {
  color: #999;
}

.track-bar-title {
  color: #666;
}

.track-bar-title:hover, .track-bar-name:hover {
  color: black;
  cursor: pointer;
}

.track-bar-progress-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 632px;
}

.track-bar-progress {
  width: 512px;
}

.start-time {
  font-size: 11px;
  color: #ff5500;
}

.end-time {
  font-size: 11px;
  color: #333333;
}