.user-show {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

.user-banner {
  display: flex;
  align-items: center;
  height: 260px;
  margin: 0 -30px;
}

.user-avatar {
  height: 200px;
  width: 200px;
  margin-left: 30px;
  background-size: contain;
  border-radius: 50%;
}